body {
    font-family: "Barlow Semi Condensed";
    background-color: hotpink;
    color: white;
    margin: 0;
}

li {
    list-style: none;

}

.button a {
    background-color: white;
    color: hotpink;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 20px;
}

main { 
    text-align: center;
    font-size: 30px;
    height: 100%;
    margin-top: 20%;
    width: 100%;
    background-size: cover;
}

main h2 {
    font-size: 30px;
}


header {
    text-align: center;
    font-size: 50px;
}


footer {
    color: white;
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    footer {
        font-size: 7px;
    }

    main h2 {
        font-size: 25px;
    }

    main {
        margin-top: 40%;
    }
}