body {
    font-family: "Barlow Semi Condensed";
    background-color: hotpink;
    color: white;
}

li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
     color: white;
     font-weight: bold;
}

nav ul li {
    display: inline-block;
    padding-right: 25px;
    font-size: 18px;
}
nav {
    text-align: center;
}
.button a {
    background-color: white;
    color: hotpink;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 5px;
    font-family: "Roboto Condensed";
    font-weight: bolder;
    font-size: 20px;
}

main { 
    text-align: center;
    font-size: 30px;
    height: 100%;
    margin-top: 10%;
    width: 100%;
    background-size: cover;
}

main h2 {
    font-size: 30px;
}

footer {
    background-color: hotpink;
    position: absolute;
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    font-family: "Roboto Condensed";
    bottom: 0;;
}


header {
    text-align: center;
    font-size: 50px;
}